body {
    margin: 0;
    text-align: center;
    font-family: 'Sacramento', cursive;
}

.sakura {
    height: 25rem;
    padding: 0;
}

.kara {
    border-radius: 100%;
    max-width: 50%;
    max-height: fit-content;
    margin: 7%;


}

.about-text {

    font-size: 2.5rem;
    padding: 4rem;
}


#about {
    
    background-color: #FDF4F5;
    margin: 0;
    
}

.banner {
    position: absolute;
    top: 20%;
}

.btn {
    font-family: 'Outfit', sans-serif;
    font-size: 2rem;
}

.h1 {
    font-size: 4.5rem;
}

.navbar {
    font-family: 'Outfit', sans-serif;
}

footer {
    margin: 0;
    background-color: black;
    color: white;
    
}

p {
    margin: 0;
}
